/*==========================
tab rotate 
===========================*/

@media (min-width: 992px) and (max-width: 1200px) {
  .header ul.navbar-nav>li>a {
    padding: 0 10px;
    font-size: 13px;
  }
  .ts-speaker .speaker-img {
    width: 205px;
    height: 205px;
  }
  .speaker-classic .ts-title {
    font-size: 20px;
  }
  .speaker-shap {
    display: none;
  }
  h2 {
    line-height: 28px;
  }
  .ts-map .mapouter .gmap_canvas {
    width: 400px;
    height: 400px;
  }
  .ts-single-outcome {
    width: 210px;
    height: 210px;
  }
  .ts-single-outcome i {
    font-size: 60px;
    margin-bottom: 15px;
  }
  .social-box ul li a {
    margin-right: 0;
  }
  .post .post-body .entry-header .entry-title {
    font-size: 24px;
    line-height: 28px;
  }
  .ts-blog .post .post-body .entry-header .entry-title {
    font-size: 20px;
  }
  .ts-exp-wrap .ts-exp-content .column-title {
    font-size: 32px;
  }
}

/*==========================
tab device 
===========================*/

@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    margin-bottom: 50px;
  }
  .pl-0 {
    padding-left: 15px !important;
  }
  .ts-speakers, section {
    padding: 60px 0;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  .navbar-toggler {
    padding: 8px;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .header .navbar-light .navbar-toggler {
    background: #e7015e;
    color: #fff;
    border-color: #e7015e;
  }
  .header ul.navbar-nav>li>a {
    line-height: 40px !important;
  }
  .header ul.navbar-nav>li>a i {
    float: right;
    padding-top: 12px;
  }
  .header ul.navbar-nav>li .dropdown-menu {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header-classic {
    padding: 10px 0;
  }
  .header-transparent .navbar-toggler {
    background: #e7015e;
    color: #fff;
  }
  .header-transparent .navbar-nav {
    background: #222;
    padding: 20px 0;
  }
  .header-transparent .navbar-nav li .dropdown-menu li a {
    color: #fff !important;
  }
  .header.header-transparent.nav-border .navbar {
    padding: 10px 0;
  }
  .header ul.navbar-nav>li.header-ticket {
    padding: 0 15px;
  }
  .header ul.navbar-nav>li.header-ticket .ticket-btn {
    margin-left: 0;
  }
}

/*==========================
small device /mobile sm and large
===========================*/

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
  }
  h2 {
    line-height: 28px;
  }
  .pl-0 {
    padding-left: 15px !important;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }
  .header.header-transparent.nav-border .navbar {
    padding: 10px 0;
  }
  .header .navbar-light .navbar-toggler {
    background: #e7015e;
    color: #fff;
    border-color: #e7015e;
  }
  .header ul.navbar-nav>li>a {
    line-height: 40px !important;
  }
  .header ul.navbar-nav>li>a i {
    float: right;
    padding-top: 12px;
  }
  .header ul.navbar-nav>li .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header-classic {
    padding: 10px 0;
  }
  .navbar-nav {
    padding: 20px 0;
  }
  .navbar-toggler {
    padding: 8px;
    cursor: pointer;
  }
  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .navbar-brand img {
    max-width: 130px;
  }
  .header-transparent .navbar-toggler {
    background: #e7015e;
    color: #fff;
  }
  .header-transparent .navbar-nav {
    background: #222;
    padding: 20px 0;
  }
  .header-transparent .dropdown-menu {
    background: transparent;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px 25px;
  }
  .header-transparent .dropdown-menu li a {
    color: #fff !important;
  }
  .header ul.navbar-nav>li.header-ticket {
    padding: 0 15px;
  }
  .header ul.navbar-nav>li.header-ticket .ticket-btn {
    margin-left: 0;
  }

  .navigation-wrapper .navbar-collapse {
    position: absolute;
    width: 100%;
    top: 68px;
    background: #fff;
  }
  .header .navbar {
    width: 100%;
  }
}

@media (max-width:575px) {
  .input-newslatter {
    margin-bottom: 25px;
  }
}